<!DOCTYPE html>

<html>
  <head>
    <title>Second Page</title>
  </head>
  <body>
    <h1>Insert locations</h1>

    <form id="image_form" method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" required>
      <br>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required>
      <br>
      <label for="image">Images:</label>
      <input type="file" id="image" name="image" accept="image/*" required multiple>  
      <br>
      <label for="position">Position:</label>
      <input type="text" id="position" name="position" required>
      <br>
      <button type=submit>Submit</button>
    </form>
  </body>
</html>
