<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Visit Brăila &ndash; CMS</title>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script type="module" src="/static/js/about.js" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="/static/css/panel.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="group">
        <button class="btn-icon menu-btn btn-header">
          <ion-icon class="icon" name="menu-outline"></ion-icon>
        </button>
        <h1 class="title">Visit Brăila</h1>
      </div>
      <a href="/logout" role="button" class="btn-icon btn-header"><ion-icon class="icon" name="log-out-outline"></ion-icon></a>
    </header>

    <!-- SIDEBAR -->
    <aside>
      <hr>
      <nav>
        <a href="/" class="nav-item group">
          <ion-icon name="speedometer-outline"></ion-icon>
          <p>Dashboard</p>
        </a>
        <a href="/admin/tags" class="nav-item group">
          <ion-icon name="bookmarks-outline"></ion-icon>
          <p>Tags</p>
        </a>
        <a href="/admin/sights" class="nav-item group">
          <ion-icon name="business-outline"></ion-icon>
          <p>Sights</p>
        </a>
        <a href="/admin/tours" class="nav-item group">
          <ion-icon name="walk-outline"></ion-icon>
          <p>Tours</p>
        </a>
        <a href="/admin/events" class="nav-item group">
          <ion-icon name="calendar-outline"></ion-icon>
          <p>Events</p>
        </a> 
        <a href="/admin/trending" class="nav-item group">
          <ion-icon name="trending-up-outline"></ion-icon>
          <p>Trending</p>
        </a>
        <a href="/admin/about" class="nav-item active group">
          <ion-icon name="book-outline"></ion-icon>
          <p>About</p>
        </a>
      </nav>
      <hr>
      
      <section class="storage-info">
        <p>Server storage: <span id="space-used">0.0 GB</span> of <span id="space-total">0.0 GB</span> Used</p>
        <div class="bar-outline">
          <div class="bar-filled" id="storage-bar"></div>
        </div>
      </section>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="d-flex">
      <div class="container-sm m-auto py-3">
        <h2 class="tab-title">Tell something about you & your app</h2>

        <div class="row justify-content-center gx-4 gy-3 mt-3 px-2">
          <div class="col-xl-6">
            <div class="card shadow-sm">
              <h5 class="card-header">Help</h5>
              <form id="paragraphs-form"> 
                <div class="card-body row g-3">
                  <div class="col-12">
                    <label for="paragraph-1-content" class="form-label">About you</label>
                    <div id="paragraph-1-content"></div>
                  </div>
                  <div class="col-12">
                    <label for="paragraph-2-content" class="form-label">About app</label>
                    <div id="paragraph-2-content"></div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary"><span>Save</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card shadow-sm">
              <h5 class="card-header">Contact</h5>
              <form id="contact-form">
                <div class="card-body row g-3">
                  <div class="col-12">
                    <div class="row gx-3 gy-0">
                      <label for="director" class="col-sm-3 form-label">Director</label>
                      <div class="col-sm-9">
                        <input type="text" id="director" class="form-control" name="director" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row gx-3 gy-0">
                      <label for="phone" class="col-sm-3 form-label">Phone number</label>
                      <div class="col-sm-9">
                        <input type="tel" id="phone" class="form-control" name="phone" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row gx-3 gy-0">
                      <label for="email" class="col-sm-3 form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="email" id="email" class="form-control" name="email" required />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary"><span>Save</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card shadow-sm">
              <h5 class="card-header">Cover</h5>
              <form id="cover-form">
                <div class="card-body row g-3">
                  <div class="col-12">
                    <div class="d-flex gap-3">
                      <label for="cover-image" style="cursor: pointer">
                        Image
                        <input
                          type="file"
                          class="hidden-input"
                          id="cover-image"
                          name="image"
                          accept="image/*"
                          required
                        />
                      </label>
                      <ul class="img-container"></ul>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary"><span>Save</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
