<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Visit Brăila &ndash; CMS</title>
    
    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script type="module" src="static/js/login.js" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
  </head>
  <body class="text-center">
    <main class="form-login">
      <form>
        <img class="mb-3 img-fluid" src="static/media/assets/icon.png" width="128" height="128">
        <h1 class="h2 mb-3 text-white fw-semibold">Visit Brăila</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="user" name="user" placeholder="user" required />
          <label class="floatingInput">Username</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" id="pass" name="pass" placeholder="password" required />
          <ion-icon name="eye-off-outline" class="eye-icon"></ion-icon>
          <label class="floatingInput">Password</label>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
      </form>
    </main>
  </body>
</html>
