<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Visit Brăila &ndash; CMS</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link href="/static/css/privacy.css" rel="stylesheet" />
    <link href="/static/css/google_docs.css" rel="stylesheet" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="header-img-bg">
      <h1>Politica de confidențialitate</h1>
    </header>
    <main class="c30 container doc-content">
      <h1 class="c27">
        <span class="c8 c36"
          >Politica de confidențialitate și protecția datelor cu caracter
          personal</span
        >
      </h1>
      <p class="c28 c19"><span class="c4"></span></p>
      <p class="c9">
        <span class="c21">OPERATOR: </span
        ><span class="c17">Primăria Municipiului Brăila</span
        ><span class="c10 c35">,</span><span class="c7 c35">&nbsp;</span
        ><span class="c32"
          >Str. Piața Independenței nr. 1, Brăila, 810210 România, tel.
          0239.694.947, fax. 0239.692.394, </span
        ><span class="c23"
          ><a class="c16" href="mailto:pmb@pmbr.ro">pmb@pmbr.ro</a></span
        ><span class="c32">, </span
        ><span class="c23"
          ><a
            class="c16"
            href="https://www.google.com/url?q=http://www.primariabraila.ro/&amp;sa=D&amp;source=editors&amp;ust=1700770892056960&amp;usg=AOvVaw2n4evNaS-oeOnqw1TRyA17"
            >www.primariabraila.ro</a
          ></span
        >
      </p>
      <p class="c9">
        <span class="c7 c8"
          >În această Politică de confidențialitate și protecția datelor cu
          caracter personal, denumită în continuare </span
        ><span class="c7 c8 c22">Politica</span
        ><span class="c7 c8"
          >, găsiți răspunsuri concrete despre cum sunt colectate și prelucrate
          datele dumneavoastră personale. Dacă aveți o întrebare sau nelămurire,
          legată de aspectele prezentate ne puteți trimite întrebările
          dumneavoastră la adresa </span
        ><span class="c0"
          ><a class="c16" href="mailto:visitbraila@pmbr.ro"
            >visitbraila@pmbr.ro</a
          ></span
        ><span class="c4"
          >&nbsp;sau la datele de contact furnizate mai jos.</span
        >
      </p>
      <p class="c9"><span class="c4">&nbsp;</span></p>
      <p class="c9">
        <span class="c7"
          >Obiectivele demersului nostru, în ordinea importanței, privind
          această </span
        ><span class="c7 c22">Politică</span
        ><span class="c4">&nbsp;sunt următoarele:</span>
      </p>
      <ul class="c14 lst-kix_list_13-0 start">
        <li class="c2 li-bullet-0">
          <span class="c4"
            >respectarea dreptului dumneavoastră fundamental la protecția
            datelor cu caracter personal și la intimitate;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >respectarea prevederilor legale privind protecția datelor cu
            caracter personal;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >informarea dvs. completă și corectă cu privire la cine?, ce?, de
            ce?, unde?, până când? și cum? sunt prelucrate datele dumneavoastră
            personale, pentru ca dumneavoastră să dețineți, în orice moment,
            controlul asupra datelor cu caracter personal pe care ni le
            încredințați spre prelucrare pentru atingerea scopurilor
            noastre.</span
          >
        </li>
      </ul>
      <p class="c9 c19 c24"><span class="c4"></span></p>
      <p class="c9">
        <span class="c10 c8"
          >Aceasta este versiunea curentă și valabilă în acest moment, fiind
          actualizată la </span
        ><span class="c10">10/07.2023</span><span class="c6">.</span>
      </p>
      <p class="c9"><span class="c4">&nbsp;</span></p>
      <ol class="c14 lst-kix_list_14-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c13 c8">Cum să ne contactați?</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c21 c8">Ce acoperă </span
          ><span class="c21 c8 c22">Politica</span
          ><span class="c13 c8">&nbsp;noastră?</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >Ce date personale colectăm de la dvs., de ce și cum le
            prelucrăm?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >În ce scop și cum prelucrăm datele colectate online, telefonic sau
            în mod direct de dvs.?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >De la cine și cum colectăm datele dvs. personale?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >Care sunt temeiurile legale pe care ne bazăm pentru prelucrarea
            datelor dvs. personale?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >Prelucrăm datele personale pentru crearea de profiluri sau pentru
            luarea deciziilor printr-un proces automatizat?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c21">Păstrarea și ștergerea datelor personale. </span
          ><span class="c13 c8">Cât timp păstrăm datele dvs. personale?</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c8 c13"
            >Cui dezvăluim / divulgăm datele dvs. personale?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c21"
            >Proceduri de gestionare sigură a datelor cu caracter personal. Sunt
            datele dvs. personale în siguranță?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >Suntem certificați și am aderat la un cod de conduită?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8"
            >Care sunt drepturile dvs. garantate de GDPR?</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c13 c8">Cum vă puteți exercita aceste drepturi?</span>
        </li>
      </ol>
      <p class="c9 c19 c24"><span class="c4"></span></p>
      <p class="c9 c19 c24"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">1. </span
        ><span class="c6">Cum să ne contactați?</span>
      </p>
      <p class="c9">
        <span class="c7"
          >Datele sunt colectate și prelucrate de Operator, &nbsp;punct de
          contact pentru confidentialitatea datelor cu caracter personal: </span
        ><span class="c0"
          ><a class="c16" href="mailto:visitbraila@pmbr.ro"
            >visitbraila@pmbr.ro</a
          ></span
        ><span class="c7">.</span>
      </p>
      <p class="c9">
        <span class="c7 c8"
          >Pentru orice probleme legate de protecția datelor cu caracter
          personal, precum și pentru exercitarea drepturilor dvs. garantate de
          Regulamentul General privind protectia datelor nr. 679/2016 și de
          legislația națională în vigoare puteți să ne contactați </span
        ><span class="c7">la adresa de e-mail</span><span class="c7 c8">: </span
        ><span class="c0"
          ><a class="c16" href="mailto:visitbraila@pmbr.ro"
            >visitbraila@pmbr.ro</a
          ></span
        >
      </p>
      <p class="c9 c19"><span class="c4 c34"></span></p>
      <p class="c9 c18">
        <span class="c10">2. </span><span class="c10 c8">Ce acoperă </span
        ><span class="c10 c8 c22">Politica</span
        ><span class="c10 c8">&nbsp;noastră?</span>
      </p>
      <ul class="c14 lst-kix_list_3-0 start">
        <li class="c2 li-bullet-0">
          <span class="c4"
            >Această&nbsp; Politică: produce efecte de la data ultimei
            actualizării.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c7 c8"
            >Ultima actualizare a Politicii produce efecte din data de: </span
          ><span class="c7">23.11.2023</span><span class="c4">.</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c7 c8 c22">Politica</span
          ><span class="c7 c8">&nbsp;noastră se aplică </span
          ><span class="c7">aplicației</span
          ><span class="c7 c8">&nbsp;pentru Android </span
          ><span class="c7">ș</span><span class="c7 c8">i iO</span
          ><span class="c7">S</span><span class="c7 c8">&nbsp;denumit</span
          ><span class="c7">ă</span><span class="c7 c8">&nbsp;</span
          ><span class="c7">Visit Brăila</span><span class="c4">.</span>
        </li>
      </ul>
      <p class="c9 c24"><span class="c4">&nbsp;</span></p>
      <p class="c9 c18">
        <span class="c10">3. </span
        ><span class="c6"
          >Ce date personale colectăm de la dvs., de ce și cum le
          prelucrăm?</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Pentru desfășurarea activității noastre curente, prin intermediul
          aplicației Visit Brăila colectăm și prelucrăm următoarele tipuri de
          date cu caracter personal:</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <a id="t.9500c28d443472c3a339ea34ec757f145c11bb9e"></a><a id="t.0"></a>
      <table class="c31">
        <thead>
          <tr class="c25">
            <td class="c5" colspan="1" rowspan="1">
              <p class="c11">
                <span class="c10 c8">I</span><span class="c10">D</span
                ><span class="c10 c8"
                  >-ul echipamentului - prin intermediul Firebase Cloud
                  messaging </span
                ><span class="c10"
                  >care utilizează ID-ul pentru a ști cărui device să transmită
                  mesajul (în cazul în care v-ați exprimat acordul pentru a fi
                  notificați în legătură cu un anumit eveniment)</span
                >
              </p>
            </td>
          </tr>
          <tr class="c25">
            <td class="c5" colspan="1" rowspan="1">
              <p class="c11">
                <span class="c10 c8">I</span><span class="c10">P</span
                ><span class="c10 c8">&nbsp;(doar pentru </span
                ><span class="c10">i</span><span class="c10 c8">O</span
                ><span class="c10">S</span><span class="c10 c8">) - prin </span
                ><span class="c10">intermediul</span
                ><span class="c10 c8">&nbsp;Firebase D</span
                ><span class="c10"
                  >ynamic links se stochează temporar (pe durata utilizării
                  serviciului) IP-ul pentru a furniza serviciul de deschidere a
                  unei anumite pagini din aplicație</span
                >
              </p>
            </td>
          </tr>
          <tr class="c25">
            <td class="c5" colspan="1" rowspan="1">
              <p class="c11">
                <span class="c10"
                  >Geolocația - aveți posibilitatea de a opta între a permite
                  aplicației să vă localizeze sau nu. Localizarea este necesară
                  pentru a vă oferi distanța până la obiectivul căutat</span
                >
              </p>
            </td>
          </tr>
        </thead>
      </table>
      <p class="c9"><span class="c4">&nbsp;</span></p>
      <p class="c9">
        <span class="c6"
          >Nu sunt prelucrate categorii de date speciale sau sensibile prin
          intermediul aplicației.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">4. </span
        ><span class="c10 c8"
          >În ce scop și cum prelucrăm datele colectate </span
        ><span class="c10">prin intermediul aplicației</span
        ><span class="c6">?</span>
      </p>
      <p class="c28">
        <span class="c4"
          >Datele personale se prelucrează specific doar în măsura în care este
          necesar și având în vedere următoarele scopuri:</span
        >
      </p>
      <p class="c11">
        <span class="c7"
          >Visit Brăila se identifică drept o platformă centralizată de turism,
          menită să faciliteze vizita în județul Brăila. &nbsp; Atracții
          istorice, tururi pietonale, restaurante, cazări și multe altele sunt
          disponibile acum într-o singură aplicație. Aplicația </span
        ><span class="c7 c20">oferă </span
        ><span class="c4"
          >informații despre atracții mai puțin cunoscute, introducându-te în
          cultura zonei.
        </span>
      </p>
      <p class="c1">
        <span class="c4"
          >Atracțiile și tururile pietonale reprezintă nucleul platformei.
          Migrăm informația din format fizic și greu accesibil către digital
          prin atribuirea unei descrieri expresive. De asemenea, atracțiile sunt
          individualizate prin intermediul unor tag-uri de filtrare ce se pliază
          pe numeroase tipuri de activități turistice. Sunt furnizate date de
          geolocație pentru a naviga la adresa dorită, utilizând aplicația ta de
          hărți preferată. Rămâi conectat cu prietenii tăi, împărtășindu-ți
          următoarele destinații prin funcția de share.</span
        >
      </p>
      <p class="c1">
        <span class="c4"
          >După o zi lungă de vizitat, Visit Brăila vine în ajutorul turistului
          și nu numai cu o selecție atent aleasă de restaurante cu tematică și
          cu cele mai atractive cazări. Dat fiind faptul că informațiile sunt
          introduse de către localnici, vizitatorul are parte de o recenzie
          autentică a ceea ce înseamnă HoReCa la nivel local.</span
        >
      </p>
      <p class="c1">
        <span class="c4"
          >Nu în ultimul rând, secțiunea de tendințe zilnice face ca
          administratorii să actualizeze permanent recomandările și să creeze
          competiție la nivelul antreprenorilor din zonă, fiind totodată, o
          listă gata planificată a unui tur prin oraș.</span
        >
      </p>
      <p class="c1">
        <span class="c4"
          >Pentru o mai bună introducere în cultura locală, Visit Brăila vine în
          ajutor cu o secțiune dedicată evenimentelor. Cu o separare în funcție
          de perioada de desfășurare și cu o notificare zilnică, ne asigurăm că
          atât turiștii cât și cetățenii orașului nu vor rata niciun eveniment
          din zona lor de interes.
        </span>
      </p>
      <p class="c1">
        <span class="c4"
          >Prelucrarea va respecta principiul limitării la scop, respectiv
          datele vor fi colectate în scopuri determinate, explicite şi legitime
          şi nu sunt prelucrate ulterior într-un mod incompatibil cu aceste
          scopuri; prelucrarea ulterioară în scopuri de arhivare în interes
          public, în scopuri de cercetare ştiinţifică sau istorică ori în
          scopuri statistice nu este considerată incompatibilă cu scopurile
          iniţiale.</span
        >
      </p>
      <p class="c28">
        <span class="c4"
          >Aplicația mobilă va fi distribuită prin intermediul magazinelor de
          aplicații ale companiilor Google și Apple.</span
        >
      </p>
      <p class="c9 c18">
        <span class="c10">5. </span
        ><span class="c6"
          >De la cine și cum colectăm datele dvs. personale?</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Unele date, cum ar fi IP-ul sau ID-ul echipamentului le primim de la
          telefonul dvs. Prelucrăm geolocația dvs. dacă vă dați
          permisiunea.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">6. </span
        ><span class="c6"
          >Care sunt temeiurile legale pe care ne bazăm pentru prelucrarea
          datelor dvs. personale?</span
        >
      </p>
      <p class="c28">
        <span class="c4"
          >Conform articolului 6 (1) din Regulamentul European nr. 679/2016
          prelucrarea datelor este necesară
        </span>
      </p>
      <ul class="c14 lst-kix_sdbi4wxy69zh-0 start">
        <li class="c3 li-bullet-0">
          <span class="c4"
            >prelucrarea se face în baza consimțământului dumneavoastră.</span
          >
        </li>
        <li class="c3 li-bullet-0">
          <span class="c4"
            >prelucrarea este necesară în scopul intereselor legitime urmărite
            de operator (interpretarea datelor statistice).</span
          >
        </li>
      </ul>
      <p class="c9"><span class="c4">&nbsp;</span></p>
      <p class="c9 c18">
        <span class="c10">7. </span
        ><span class="c6"
          >Prelucrăm datele personale pentru crearea de profiluri sau pentru
          luarea deciziilor printr-un proces automatizat?</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Nu folosim un proces exclusiv automat, fără intervenție umană pentru
          a lua decizii cu privire la dvs.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">8. Păstrarea și ștergerea datelor</span>
      </p>
      <p class="c9 c19 c29"><span class="c6"></span></p>
      <a id="t.f4fd07687573e19ac349e9fbfe44507f2cafda36"></a><a id="t.1"></a>
      <table class="c31">
        <thead>
          <tr class="c25">
            <td class="c26" colspan="1" rowspan="1">
              <p class="c11">
                <span class="c6"
                  >ID-ul echipamentului - prin intermediul Firebase Cloud
                  messaging care utilizează ID-ul pentru a ști cărui device să
                  transmită mesajul (în cazul în care v-ați exprimat acordul
                  pentru a fi notificați în legătură cu un anumit eveniment).
                  Aveți posibilitatea de vă modifica în orice moment, din
                  setările telefonului, opțiunea de notificare legată de
                  evenimente.</span
                >
              </p>
            </td>
          </tr>
          <tr class="c25">
            <td class="c26" colspan="1" rowspan="1">
              <p class="c11">
                <span class="c6"
                  >IP (doar pentru iOS) - prin intermediul Firebase Dynamic
                  links se stochează temporar (pe durata utilizării serviciului)
                  IP-ul pentru a furniza serviciul de deschidere a unei anumite
                  pagini din aplicație</span
                >
              </p>
            </td>
          </tr>
          <tr class="c25">
            <td class="c26" colspan="1" rowspan="1">
              <p class="c11">
                <span class="c10"
                  >Geolocația - aveți posibilitatea de a opta între a permite
                  aplicației să vă localizeze sau nu. Localizarea este necesară
                  pentru a vă oferi distanța până la obiectivul căutat și se
                  stochează strict pe perioada utilizării aplicației.</span
                >
              </p>
            </td>
          </tr>
        </thead>
      </table>
      <p class="c9 c19 c24"><span class="c6"></span></p>
      <p class="c9 c18">
        <span class="c10">9</span><span class="c10">. </span
        ><span class="c6">Cui dezvăluim / divulgăm datele dvs. personale?</span>
      </p>
      <p class="c9">
        <span class="c6"
          >Datele utilizatorilor aplicației Visit Brăila nu sunt transmise
          niciunei părți terțe.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9">
        <span class="c4"
          >Primăria Municipiului Brăila și Biblioteca județeană “Panait Istrati”
          Brăila - stocare pe serverul bibliotecii dar nu au acces la date cu
          caracter personal ale utilizatorilor aplicației.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">10</span
        ><span class="c10"
          >. Proceduri de gestionare sigură a datelor cu caracter personal. </span
        ><span class="c6">Sunt datele dvs. personale în siguranță?</span>
      </p>
      <p class="c9">
        <span class="c7 c8"
          >Pentru prelucrarea datelor dvs. personale în condiții de siguranță
          pentru drepturile și libertățile dvs. fundamentale am luat măsuri
          tehnice și organizatorice adecvate pentru protecția datelor
          personale</span
        ><span class="c7">.</span
        ><span class="c4"
          >&nbsp;Toate măsurile tehnice și organizatorice implementate de noi au
          scopul de a proteja datele dvs. personale împotriva prelucrării
          neautorizate sau ilegale și împotriva pierderii, a distrugerii sau a
          deteriorării accidentale a acestora.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">11. </span
        ><span class="c6"
          >Suntem certificați și am aderat la un cod de conduită?</span
        >
      </p>
      <p class="c9">
        <span class="c7 c8"
          >În România, până la data actualizării prezentei </span
        ><span class="c7 c8 c22">Politici</span
        ><span class="c4"
          >, nu s-a înființat un organism de certificare autorizat pentru a
          atesta faptul că respectăm legislația în vigoare cu privire la
          protecția datelor personale și nici nu a fost elaborat și aprobat un
          Cod de conduită la care să putem adera, motiv pentru care adoptăm,
          inclusiv ca măsuri de bune practici, orice mijloace de securitate
          posibile pentru a asigura un grad de protecție cât mai ridicat pentru
          datele personale pe care le prelucrăm.</span
        >
      </p>
      <p class="c9 c19"><span class="c4"></span></p>
      <p class="c9 c18">
        <span class="c10">12. </span
        ><span class="c6">Care sunt drepturile dvs. garantate de GDPR?</span>
      </p>
      <p class="c9">
        <span class="c4"
          >Pentru conformare la prevederile Regulamentului 679/2016, vă garantăm
          respectarea următoarelor drepturi:</span
        >
      </p>
      <ul class="c14 lst-kix_axn1ykqt9frd-0 start">
        <li class="c3 li-bullet-0">
          <span class="c10 c8"
            >Aveți dreptul de a va retrage, în orice moment, consimțământul cu
            privire la prelucrarea datelor cu caracter personal (</span
          ><span class="c10">în</span><span class="c10 c8">&nbsp;</span
          ><span class="c10">situația</span><span class="c10 c8">&nbsp;</span
          ><span class="c10">în</span
          ><span class="c10 c8">&nbsp;care prelucrarea se </span
          ><span class="c10">bazează</span
          ><span class="c10 c8">&nbsp;pe consimtamantul dumneavoastra).</span
          ><span class="c7 c8"
            >&nbsp;Retragerea consimțământului nu afectează legalitatea
            prelucrării datelor personale efectuată înainte de retragerea
            acestuia. Retragerea consimțământului se face la fel de ușor ca
            acordarea acestuia, printr-un e-mail trimis pe adresa: &nbsp;</span
          ><span class="c0"
            ><a class="c16" href="mailto:visitbraila@pmbr.ro"
              >visitbraila@pmbr.ro</a
            ></span
          >
        </li>
        <li class="c3 li-bullet-0">
          <span class="c10 c8"
            >Aveți dreptul de a primi acces la datele dvs. personale</span
          ><span class="c4"
            >&nbsp;pe care le prelucrăm, iar noi vă oferim o confirmare că vă
            prelucrăm datele personale, sau nu, iar, în caz afirmativ, vă
            furnizam toate informațiile obligatorii prevăzute de art. 15 GDPR,
            precum și o copie a acestor date, dacă solicitați acest lucru, în
            formatul solicitat de dvs. și pe calea de comunicare precizată de
            dvs. în cerere.</span
          >
        </li>
        <li class="c3 li-bullet-0">
          <span class="c10 c8">Aveți dreptul de a obține</span
          ><span class="c7 c8">&nbsp;de la noi </span
          ><span class="c10 c8"
            >rectificarea datelor cu caracter personal inexact</span
          ><span class="c4"
            >e care vă privesc, fără întârzieri nejustificate, precum și
            completarea datelor cu caracter personal care sunt incomplete,
            inclusiv prin furnizarea unei declarații suplimentare. Trebuie să
            comunicăm rectificarea datelor dvs. personale destinatarilor datelor
            dvs. personale (dacă există).</span
          >
        </li>
        <li class="c3 li-bullet-0">
          <span class="c10 c8"
            >Aveți dreptul de a solicita ștergerea datelor personale</span
          ><span class="c4">&nbsp;pe care le prelucrăm.</span>
        </li>
      </ul>
      <p class="c9">
        <span class="c4"
          >Suntem obligați să ștergem datele dvs. personale și vom face acest
          lucru fără întârzieri nejustificate, dacă se îndeplinesc următoarele
          condiții prevăzute de art. 17, alin 1 și 2 din GDPR:</span
        >
      </p>
      <ul class="c14 lst-kix_list_8-0 start">
        <li class="c2 li-bullet-0">
          <span class="c4"
            >datele cu caracter personal nu mai sunt necesare pentru
            îndeplinirea scopurilor pentru care au fost colectate sau
            prelucrate;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >vă retrageți consimțământul pe baza căruia are loc prelucrarea și
            nu există niciun alt temei juridic pentru prelucrare;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >vă opuneți prelucrării din motive legate de situația particulară în
            care vă aflați și nu există motive legitime care să prevaleze în
            ceea ce privește prelucrarea (art. 21, alin. 1 GDPR) sau vă opuneți
            prelucrării în scop de marketing direct (art. 21, alin. 2
            GDPR);</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >datele dvs. cu caracter personal au fost prelucrate ilegal;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >datele dvs. cu caracter personal trebuie șterse pentru respectarea
            unei obligații legale care ne revine în temeiul dreptului Uniunii
            sau al dreptului intern sub incidența căruia ne aflăm;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >datele cu caracter personal au fost colectate în legătură cu
            oferirea de servicii ale societății informaționale în mod direct
            unui copil.</span
          >
        </li>
      </ul>
      <p class="c9">
        <span class="c4"
          >În cazul în care am făcut publice datele cu caracter personal și
          suntem obligați să le ștergem, ținând seama de tehnologia disponibilă
          și de costul implementării, luăm măsuri rezonabile, inclusiv măsuri
          tehnice, pentru a informa operatorii care vă prelucrează datele cu
          caracter personal că ați solicitat ștergerea de către acești operatori
          a oricăror linkuri către datele respective sau a oricăror copii sau
          reproduceri ale acestor date cu caracter personal.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Vom refuza ștergerea datelor dvs. personale în următoarele condiții
          prevăzute expres de art. 17, alin. 2 GDPR:</span
        >
      </p>
      <ul class="c14 lst-kix_list_10-0 start">
        <li class="c2 li-bullet-0">
          <span class="c4"
            >dacă prelucrarea datelor personale este necesară pentru exercitarea
            dreptului la liberă exprimare și la informare;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >dacă prelucrarea datelor personale este necesară pentru respectarea
            unei obligații legale care prevede prelucrarea în temeiul dreptului
            Uniunii sau al dreptului intern care ni se aplică sau pentru
            îndeplinirea unei sarcini executate în interes public sau în cadrul
            exercitării unei autorități oficiale cu care suntem învestiți, dacă
            va fi cazul;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >dacă prelucrarea datelor personale este necesară din motive de
            interes public în domeniul sănătății publice, în conformitate cu
            articolul 9 alineatul (2) literele (h) și (i) și cu articolul 9
            alineatul (3) GDPR;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >dacă prelucrarea datelor personale este necesară în scopuri de
            arhivare în interes public, în scopuri de cercetare științifică sau
            istorică ori în scopuri statistice, în conformitate cu articolul 89
            alineatul (1), în măsura în care exercitarea dreptului dvs. la
            ștergerea datelor personale este susceptibil să facă imposibilă sau
            să afecteze în mod grav realizarea obiectivelor prelucrării
            respective;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >dacă prelucrarea datelor personale este necesară pentru
            constatarea, exercitarea sau apărarea unui drept în instanță.</span
          >
        </li>
      </ul>
      <ul class="c14 lst-kix_hf39yuv7faoz-0 start">
        <li class="c2 li-bullet-0">
          <span class="c10 c8">Aveți dreptul de a solicita </span
          ><span class="c4"
            >restricționarea datelor prelucrate în următoarele cazuri:</span
          >
        </li>
      </ul>
      <ul class="c14 lst-kix_list_12-0 start">
        <li class="c2 li-bullet-0">
          <span class="c4"
            >contestați exactitatea datelor și vom restricționa prelucrarea
            acestora pentru o perioadă care ne permite să verificăm exactitatea
            datelor;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >prelucrarea este ilegală, iar dvs. vă opuneți ștergerii datelor cu
            caracter personal, solicitând în schimb restricționarea utilizării
            lor;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >noi nu mai avem nevoie de datele cu caracter personal în scopul
            prelucrării, dar dvs. ni le solicitați pentru constatarea,
            exercitarea sau apărarea unui drept în instanță;</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >vă opuneți prelucrării în conformitate cu art. 21 alin. 1 GDPR,
            pentru intervalul de timp în care verificăm dacă drepturile noastre
            legitime prevalează asupra drepturilor dvs.</span
          >
        </li>
      </ul>
      <p class="c9">
        <span class="c4"
          >În cazul în care prelucrarea a fost restricționată în temeiul
          motivelor expuse mai sus, datele dvs. cu caracter personal pot, cu
          excepția stocării, să fie prelucrate numai cu consimțământul dvs. sau
          pentru constatarea, exercitarea sau apărarea unui drept în instanță
          sau pentru protecția drepturilor unei alte persoane fizice sau
          juridice sau din motive de interes public important al Uniunii sau al
          unui stat membru.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Dacă ați obținut de la noi restricționarea prelucrării, veți fi
          informat de către noi înainte de ridicarea restricției de
          prelucrare.</span
        >
      </p>
      <ul class="c14 lst-kix_9y3mtr8j9d-0 start">
        <li class="c2 li-bullet-0">
          <span class="c10 c8">Aveți dreptul la portabilitatea datelor</span
          ><span class="c4"
            >. Puteți solicita în orice moment să primiți datele cu caracter
            personal care vă privesc și pe care ni le-ați furnizat într-un
            format structurat, utilizat în mod curent și care poate fi citit
            automat și aveți dreptul de a transmite aceste date altui operator,
            fără obstacole din partea noastră, în cazul în care:</span
          >
        </li>
      </ul>
      <ul class="c14 lst-kix_list_16-0 start">
        <li class="c2 li-bullet-0">
          <span class="c4">prelucrarea se bazează pe consimțământ;</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >prelucrarea se bazează pe un contract încheiat între noi și
            dvs.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c4"
            >prelucrarea este efectuată prin mijloace automate.</span
          >
        </li>
      </ul>
      <p class="c9">
        <span class="c4"
          >În exercitarea dreptului dvs. la portabilitatea datelor aveți dreptul
          ca datele cu caracter personal să fie transmise direct de la un
          operator la altul acolo unde acest lucru este fezabil din punct de
          vedere tehnic.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Exercitarea dreptului dvs. la portabilitatea datelor nu aduce
          atingere articolului 17 GDPR (dreptul la ștergerea datelor personale),
          deoarece respectivul drept nu se aplică prelucrării necesare pentru
          îndeplinirea unei sarcini executate în interes public sau în cadrul
          exercitării unei autorități oficiale cu care este învestit
          operatorul.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Dreptul dvs. la portabilitatea datelor nu aduce atingere drepturilor
          și libertăților altora.&nbsp;</span
        >
      </p>
      <ul class="c14 lst-kix_6noubqugp2rf-0 start">
        <li class="c2 li-bullet-0">
          <span class="c10 c8">Aveți dreptul de a vă opune</span
          ><span class="c4"
            >, în orice moment, din motive legate de situația particulară în
            care vă aflați, prelucrării datelor personale efectuate în temeiul
            art. 6, alin. 1, lit. e) sau f) din GDPR, inclusiv creării de
            profiluri pe baza respectivelor dispoziţii.</span
          >
        </li>
      </ul>
      <p class="c9">
        <span class="c4"
          >Oprim imediat prelucrarea datelor personale în cazul în care vă
          opuneți prelucrării, cu excepţia cazului în care demonstrăm că avem
          motive legitime şi imperioase care justifică prelucrarea şi care
          prevalează asupra intereselor, drepturilor şi libertăţilor dvs. sau că
          scopul este constatarea, exercitarea sau apărarea unui drept în
          instanţă.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >Atunci când prelucrarea datelor cu caracter personal are drept scop
          marketingul direct, aveți dreptul de a vă opune în orice moment
          prelucrării în acest scop a datelor cu caracter personal care vă
          privesc, inclusiv creării de profiluri, în măsura în care este legată
          de marketingul direct respectiv, iar noi vom înceta imediat
          prelucrarea datelor dvs. personale în scop de marketing direct.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >În contextul utilizării serviciilor societății informaționale vă
          puteți exercita dreptul de a vă opune prelucrării datelor personale
          prin mijloace automate care utilizează specificații tehnice.</span
        >
      </p>
      <p class="c9">
        <span class="c4"
          >În cazul în care prelucrăm datele dvs. personale în scopuri de
          cercetare științifică sau istorică sau în scopuri statistice, puteți,
          din motive legate de situația dvs. particulară, să vă opuneți
          prelucrării datelor cu caracter personal care vă privesc, cu excepția
          cazului în care prelucrarea este necesară pentru îndeplinirea unei
          sarcini din motive de interes public.</span
        >
      </p>
      <ul class="c14 lst-kix_r2bpl4luo3gj-0 start">
        <li class="c2 li-bullet-0">
          <span class="c10 c8"
            >Aveți dreptul de a dreptul de a nu face obiectul unei decizii
            bazate exclusiv pe prelucrarea automată, inclusiv crearea de
            profiluri</span
          ><span class="c4"
            >, care produce efecte juridice care vă privesc sau vă afectează în
            mod similar într-o măsură semnificativă.</span
          >
        </li>
      </ul>
      <p class="c9">
        <span class="c4"
          >Dreptul dvs. de a nu face obiectul unei decizii bazate exclusiv pe
          prelucrarea automată nu se aplică în cazul în care decizia:</span
        >
      </p>
      <ol class="c14 lst-kix_list_2-0 start">
        <li class="c9 c15">
          <span class="c4"
            >este necesară pentru încheierea sau executarea unui contract între
            dvs. şi noi;</span
          >
        </li>
        <li class="c9 c15">
          <span class="c4"
            >este autorizată prin dreptul Uniunii sau dreptul intern care ni se
            aplică nouă şi care prevede, de asemenea, măsuri corespunzătoare
            pentru protejarea drepturilor, libertăţilor şi intereselor dvs.
            legitime;</span
          >
        </li>
        <li class="c9 c15">
          <span class="c4">dacă are la bază consimţământul dvs. explicit.</span>
        </li>
      </ol>
      <p class="c9">
        <span class="c4"
          >În cazurile menţionate la literele (a) şi (c), punem în aplicare
          măsuri corespunzătoare pentru protejarea drepturilor, libertăţilor şi
          intereselor dvs. Legitime și vă garantăm cel puţin dreptul dvs. de a
          obţine intervenţie umană din partea noastră pentru a vă exprima
          punctul de vedere şi a contesta decizia.</span
        >
      </p>
      <ul class="c14 lst-kix_3szwhmw1vjpb-0 start">
        <li class="c2 li-bullet-0">
          <span class="c10"
            >Aveți dreptul de a dreptul de a depune o plângere în fața ANSPCP. </span
          ><span class="c7"
            >Datele de contact ale Autorității Naţionale de Supraveghere a
            Prelucrării Datelor cu Caracter Personal sunt: B-dul G-ral. Gheorghe
            Magheru 28-30, Sector 1, cod poștal 010336, București, România,
            Email: </span
          ><span class="c0"
            ><a class="c16" href="mailto:anspdcp@dataprotection.ro"
              >anspdcp@dataprotection.ro,
            </a></span
          ><span class="c7"
            >Telefon fix: +40.318.059.211, +40.318.059.212, Fax
            +40.318.059.602.</span
          >
        </li>
      </ul>
      <p class="c9 c24"><span class="c4">&nbsp;&nbsp;</span></p>
      <p class="c9 c18">
        <span class="c10 c8">14. Cum vă puteți exercita aceste drepturi?</span>
      </p>
      <p class="c9">
        <span class="c7 c8"
          >&nbsp;Puteți să vă exercitați toate drepturile printr-o cerere depusă
          prin e-mail</span
        ><span class="c7">&nbsp;la adresa </span
        ><span class="c0"
          ><a class="c16" href="mailto:visitbraila@pmbr.ro"
            >visitbraila@pmbr.ro</a
          ></span
        >
      </p>
      <div>
        <p class="c11 c19"><span class="c8 c12"></span></p>
      </div>
    </main>
  </body>
</html>
