<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Visit Brăila &ndash; CMS</title>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script type="module" src="/static/js/sights.js" defer></script>

    <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/panel.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/queries.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="group">
        <button class="btn menu-btn">
          <ion-icon class="icon" name="menu-outline"></ion-icon>
        </button>
        <h1 class="title">Visit Brăila</h1>
      </div>
      <div class="group">
        <a href=""><ion-icon class="icon" name="logo-google"></ion-icon></a>
        <a href=""><ion-icon class="icon" name="logo-facebook"></ion-icon></a>
      </div>
    </header>

    <!-- SIDEBAR -->
    <aside>
      <nav>
        <a href="/" class="nav-item group">
          <ion-icon name="speedometer-outline"></ion-icon>
          <p>Dashboard</p>
        </a>
        <a href="/admin/tags" class="nav-item group">
          <ion-icon name="bookmarks-outline"></ion-icon>
          <p>Tags</p>
        </a>
        <a href="/admin/sights" class="nav-item active group">
          <ion-icon name="business-outline"></ion-icon>
          <p>Sights</p>
        </a>
        <a href="/admin/tours" class="nav-item group">
          <ion-icon name="walk-outline"></ion-icon>
          <p>Tours</p>
        </a>
        <a href="/admin/trending" class="nav-item group">
          <ion-icon name="trending-up-outline"></ion-icon>
          <p>Trending</p>
        </a>
        <a href="/admin/about" class="nav-item group">
          <ion-icon name="book-outline"></ion-icon>
          <p>About</p>
        </a>
      </nav>
      
      <section class="storage-info">
        <p>Server storage: <span id="space-used">0.0 GB</span> of <span id="space-total">0.0 GB</span> Used</p>
        <div class="bar-outline">
          <div class="bar-filled" id="storage-bar"></div>
        </div>
      </section>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="center">
      <div class="card big-card">
        <div class="card-header">
          <h3>Insert sight</h3>
        </div>
        <div class="card-body">
          <form id="insert-sight-form">
            <div class="input-field">
              <label for="sight-name">Name</label>
              <input type="text" id="sight-name" name="name" maxlength="60" required />
            </div>
            <div class="input-field row wrap">
              <label for="tags">Tags</label>
              <select id="tags" name="tags">
                <option value="-" selected disabled hidden>-</option>
              </select>
              <button type="button" class="btn text-btn" id="tag-btn">Add</button>
              <div class="group" id="active-tags"></div>
            </div>
            <div class="input-field" style="gap: 0">
              <label for="sight-description" style="margin-bottom: 1.2rem">Description</label>
              <div id="sight-description"></div>
            </div>
            <div class="input-field row">
              <label for="sight-images" style="cursor: pointer">
                Images
                <input
                  type="file"
                  class="hidden-input"
                  id="sight-images"
                  name="images"
                  accept="image/*"
                  multiple
                  required
                />
              </label>
              <ul class="img-container"></ul>
            </div>
            <div class="input-field row">
              <label for="sight-primary-image">Primary image index</label>
              <input 
                id="sight-primary-image" 
                name="primary-image" 
                type="number" 
                min="1" 
                value="1" 
                required
              />
            </div>
            <div class="input-field">
              <label for="sight-position">Position <span class="hint-text">Note: it must be a Google Maps URL</span></label>
              <input type="url" id="sight-position" name="position" required />
            </div>
            <button type="submit" class="btn primary-btn"><span>Insert</span></button>
          </form> 
        </div>
      </div>

      <div class="preview">
        <p class="preview-title">Live preview</p>
        <div class="preview-body">
          <img class="img-md" id="preview-primary-image">
          <section class="preview-content">
            <h2 id="preview-name"></h2>
            <div id="preview-description"></div>
            <footer class="row" style="gap: 2rem" id="preview-images"></footer>
          </section>
        </div>
     </div>
    </main>
  </body>
</html>
