html {
  	min-height: 100%;
}

body {
  	min-height: 100vh;	
    height: -webkit-fill-available;

    color: #343a40;

    background-color: rgb(244, 246, 249);
	background-image: url("/static/media/assets/republicii.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

  	box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  	padding: 2rem 1rem 2rem 1rem;

  	display: flex;
  	align-items: center;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    min-width: 100vw;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

main {
	background-color: rgb(244, 246, 249);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
	max-width: 50rem;
	width: 100%;
	border-radius: 8px;
  	margin: auto;
}

.side-img {
    background-image: url("/static/media/assets/ceas.webp");
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
    height: 100%;
    width: 100%;
	border-radius: 8px 0 0 8px;
}

.form-login {
    padding: 2rem 0;
    margin: 0 auto;
    width: 70%;
}

.form-login #user {
  	margin-bottom: -1px;
  	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
}

.form-login #pass {
 	margin-bottom: 10px;
  	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}

.form-login .form-floating:focus-within {
  	z-index: 2;
}

.eye-icon {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	right: 0.5rem;
	font-size: 1.2rem;
	cursor: pointer;
    z-index: 5;
}
