body {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

body > header {
    grid-column: 2;
    color: var(--text-color-dimmed);
    background-color: var(--accent-color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
}

.btn-header {
    color: var(--text-color-dimmed); 
}

.btn-header:hover {
    color: #fff;
}

.menu-btn {
    display: none;
}

body > aside {
    background-color: var(--sidebar-color);
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1/-1;
    justify-content: center;
    box-shadow: 2px 0 8px 3px rgba(0, 0, 0, 0.3); 
    z-index: 3;
    position: relative;
}

body > aside.show {
    box-shadow: 2px 0 8px 3px rgba(0, 0, 0, 0.3); 
    transform: translateX(0);
}

aside > nav { 
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    font-size: 1.1rem;
    width: 100%;
}

.nav-item {
    padding: 0.625rem 1rem;
    border-radius: 3px;
    font-weight: 500;
    color: var(--text-color-dimmed);
    line-height: 1; 
    text-decoration: none;
}

.nav-item p {
    margin: 0;
}

.nav-item:hover {
    background-color: var(--accent-color-light);
    color: #fff;
}

.nav-item.active {
    background-color: var(--bs-primary);
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    color: #fff; 
}

.storage-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storage-info p {
    color: var(--text-color-dimmed);
    font-size: 0.7rem;
    margin: 0;
}

.bar-outline {
    margin-top: 0.75rem; 
    width: 100%;
    height: 6px;
    background-color: var(--accent-color-light);
    border-radius: 2px;
    overflow: hidden;
}

.bar-filled {
    width: 0%;
    height: 100%; 
    background-color: var(--border-color);
    border-radius: 2px 0 0 2px;
}

body > main {
    background-color: rgb(244, 246, 249);
    overflow: auto;
    height: 100%;
}
