/* BELOW 1344px */
@media (max-width:  84em) {
	.modal-content {
        width: 50%;
	}
}

/* BELOW 960px - phones & tables */
@media (max-width: 60em) {
	body > aside {
		position: absolute;
		height: 100%;
		width: var(--sidebar-width);
        box-shadow: none;
		transform: translateX(-100%);
    	transition: 0.3s ease-in-out;
	}

	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	body > header {
		grid-column: 1;
	}

	.menu-btn { 
		display: block;
	}

    .modal-content {
        width: 90%;  
    }   

	.preview-body {
		max-height: none;
	}
}

/* Landscape phone */
@media (max-height: 27em) {
	body > aside .storage-info {
		display: none;
	}
}

/* BELOW  384px - <= 4.8inch screen */
@media (max-width: 24em) {
	html {
		font-size: 50%;
	}
}

/* BELOW  280px */
@media (max-width: 17.5em) {
	html {
		font-size: 43.75%;
	}
}