* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

html {
    font-size: 62.5%;
}

a {
    color: var(--text-color-dimmed);
    text-decoration: none;
}

:root {
    --text-color: #343a40;
    --text-color-dimmed: #ced4da;
    --accent-color-light: #495057;
    --accent-color-darker: #343a40;
    --primary-color: #007bff;
    --primary-color-shade: #1071d8; 
    --border-color: rgb(206, 212, 218);
}

.title {
    font-weight: 200;
    letter-spacing: -0.5;
    font-size: 2.8rem;
    color: var(--text-color-dimmed);
}

.subtitle {
    font-weight: 500;
    letter-spacing: 0.25;
    font-size: 2rem;
}

.group {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    font-size: 2.4rem;
}

.small-icon {
    font-size: 2.2rem;
    color: #495057;
}

.row {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-btn {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 1rem;
    border-radius: 3px;
    transition: background-color 0.1s ease-in;
}

.primary-btn:hover {
    background-color: var(--primary-color-shade);
}

.text-btn {
    color: var(--primary-color);    
    font-size: 1.4rem;
    margin-right: 1rem;
}

.text-btn.danger {
    color: #f03e3e;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
}

.close-btn:hover, .close-btn:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.hint-text {
    font-size: 1rem;
    color: var(--text-color-dimmed);
}

.link {
    color: var(--primary-color);
}

.highlight-onhover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.highlight-onhover a{
    color: #868e96; 
}

.highlight-onhover:hover a {
    color: var(--text-color);
}

.highlight-onhover button {
    display: none;
    color: #aaa;
    font-size: 1.6rem;
}

.highlight-onhover:hover button {
    display: block;
}

.highlight-onhover button:hover, .highlight-onhover button:focus {
    display: block;
    color: var(--text-color);
}

/* #### TABLE #### */

table {
    width: 100%;
    font-size: 1.6rem;
}

thead tr{
    color: rgb(33, 37, 41);
    font-weight: 700;
    background-color: #fff;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid var(--border-color);
    z-index: 1;
}

th, td {
    padding: 1.2rem 1.6rem;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 35rem;
}

tbody tr {
    border-top: 0.01px solid var(--border-color);
}

tbody tr:hover {
    background-color: #f3f3f3;
}

/* #### CARD #### */

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0,0.125) 0px 0px 1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    width: auto;
    height: auto; 
    margin: 0 3.2rem;
    border-radius: 5px;
    overflow-y: hidden;
}

.table-card {
    width: 90%;
    height: calc(50% - 4.8rem);
    margin: 3.2rem auto;
}

.tag-card{
    width: calc(40rem - 4.8rem);
    max-height: 80%;
}

.big-card {
    width: calc(70rem - 6.4rem);
    max-height: 80%;
}

.card-header {
    border-bottom: 1px solid var(--border-color);
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: linear-gradient(180deg, #fff 0%, #f1f3f5 100%);
}

.card-header h3 {
    font-size: 2rem;
}

.card-header p {
    font-size: 1.4rem;
    font-weight: 200;
}

.card-body {
    flex-grow: 1;
    overflow: auto;
    padding: 1.2rem 2rem;
}

.table-card-body {
    padding: 0;
}

/* #### FORM #### */

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    gap: 1rem;
}

.big-card .input-field {
    margin-bottom: 1.8rem;
}

.input-field label {
    font-size: 1.8rem;
}

.input-field input {
    font-size: 1.6rem;
    padding: 0.6rem 0.9rem;
    line-height: 1.5;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    transition: border-color 0.12s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(102,175,233,.6);
}

.input-field select {
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 0.4rem 0.6rem;
    font-size: 1.6rem;
    background-color: #fff;
    line-height: 1.2;
    min-width: 15rem;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.tag-item {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.stages-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.stages-container input {
    min-width: 10rem;
    width: auto;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.2;
    border-left: none;
    border-top: none;
    border-right: none;
}

.stages-container input:focus {
    box-shadow: 0 1px 1px 0 rgba(102,175,233,.6);
}

.hidden-input {
    pointer-events: none;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.img-container {
    background-color: #f8f9fa;
    width: 100%;
    padding: 1rem;
    border: 1px dashed var(--border-color);
    border-radius: 3px;   
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* #### LIVE PREVIEW #### */

.preview {
    max-height: 85%;
    width: calc(45rem - 6.4rem);
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.preview-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #868e96;
}

.preview-body {
    padding: 1.4rem;
    background-color: #fff;
}

.preview .img-md {
    width: 100%;
}

.preview .img-sm {
    width: 15rem;
}

.preview-body h2 {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.preview-body div {
    font-size: 1.6rem; 
    margin-bottom: 1.4rem;
    word-wrap: break-word;
    line-height: 1.2;
}
