* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

html, body {
    height: 100vh;
    height: -webkit-fill-available;
}

:root {
    --text-color: #343a40;
    --text-color-dimmed: #ced4da;
    --accent-color-light: #495057;
    --border-color: rgb(206, 212, 218);
    --sidebar-color: #343a40;
    --sidebar-width: 16rem;
}

.ql-container {
    height: inherit;
}

ion-icon {
    min-width: 16px;
}

.icon {
    font-size: 1.5rem;
}

.tab-title {
    max-width: 90%;
    font-weight: 200;
    letter-spacing: -0.5px;
    font-size: 1.75rem;
    color: #868e96; 
    text-align: center; 
}

.group {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* BUTTONS */

.eye-icon {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	right: 0.5rem;
	font-size: 1.2rem;
	cursor: pointer;
    z-index: 5;
}

.edit-icon {
    font-size: 1.45rem;
    color: #495057;
}

.edit-icon:hover {
    color: #212529;
}

.btn-text {
    padding: 0;
    margin: auto 0;
}

.btn-icon {
    border: none;
    background-color: transparent; 
    font-size: 1rem;
    border-radius: 0.25rem;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    padding: 0;
    margin: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
.btn-icon > * {
    vertical-align: middle; 
}

/* LOADING SPINNER */

.loading-btn {
    pointer-events: none;
    position: relative;
}

.loading-btn::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2.5px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 0.7s ease infinite;
}

.loading-btn span { 
    visibility: hidden;
}

.loading-spinner {
  display: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-top-color: var(--text-color);
  border-radius: 50%;
  animation: button-loading-spinner 0.7s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* HIGHLIGHT ON HOVER */

.highlight-onhover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.highlight-onhover a {
    color: #868e96; 
    word-break: break-word;
    max-width: 90%;
    text-decoration: none;
}

.highlight-onhover p {
    margin: 0;
}

.highlight-onhover:hover a {
    color: var(--text-color);
}

.highlight-onhover button {
    display: none;
    margin: auto 0;
    padding: 0;
    font-size: 1rem;
    color: #aaa;
}

.highlight-onhover:hover button {
    display: flex;
}

.highlight-onhover button:hover, .highlight-onhover button:focus {
    color: var(--text-color);
}

/* #### TABLE #### */ 

table {
    width: 100%;
    font-size: 1rem;
}

thead tr{
    color: rgb(33, 37, 41);
    font-weight: 700;
    background-color: #fff;
    position: sticky;
    top: 0px;
    box-shadow: 0 1px 4px 1.5px var(--border-color);
    z-index: 1;
}

th, td {
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 22rem;
    line-height: 1;
}

tbody tr {
    border-bottom: 0.5px solid var(--border-color);
}

tbody tr:hover {
    background-color: #f3f3f3;
}

td.small-cell {
    width: 3rem;
}

/* #### CARD #### */

.card-img-top {
    max-height: 25rem;
}

.card-header {
    background: linear-gradient(180deg, #fff 0%, #f1f3f5 100%);
    font-weight: 400;
}

.card-header p {
    font-size: 0.9rem;
    font-weight: 200;
    margin: 0;
}

.table-card-body {
    overflow: auto;
    padding: 0;
}

.dashboard-card {
    min-height: 19rem;
    max-height: 65vh; 
    overflow-y: hidden;
}

/* #### FORM #### */

.hidden-input {
    pointer-events: none;
    opacity: 0;
    width: 5px;
    height: 1rem;
    position: fixed;
}

.img-container {
    background-color: #f8f9fa;
    flex-grow: 1;
    padding: 0.6rem;
    border: 1px dashed var(--border-color);
    border-radius: 3px;   
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 0;
}

.stages-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.stages-container input {
    min-width: 6rem;
    width: auto;
    max-width: 100%;
    font-size: 0.9rem;
    line-height: 1.3;
    border-left: none;
    border-top: none;
    border-right: none;
}

.stage {
    position: relative;
}

.stages-container input:focus {
    box-shadow: 0 1px 2.5px 0 rgba(102,175,233,.6);
}

.stages-container input:focus + .stage-input-icon {
    display: block;
}

.stage-input-icon:hover {
    display: block;
    color: var(--text-color);
}

.stage-input-icon {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem; 
    color: var(--text-color-dimmed);
    font-size: 1rem;
    cursor: pointer;
}

.stage-input-icon.active {
    color: var(--bs-primary);
    display: block;
}

/* #### LIVE PREVIEW #### */

.preview-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #868e96;
}

.preview-body {
    max-height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
}

.preview-body p {
    margin: 0; 
}

.preview-body div {
    margin-bottom: 1rem;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    line-height: 1.2;
}

.preview-body div h1 {
    font-size: 1.6rem;
}

.preview-body div h2 {
    font-size: 1.4rem;
}

.preview-body div h3 {
    font-size: 1.1rem;
}

.preview-body img {
    width: 40%;
    object-fit: cover;
}

.preview-body span {
    color: #868e96;
    font-size: 0.9rem;
    font-weight: 600; 
    letter-spacing: 0.75px;
    margin-bottom: 1.4rem
}

/* #### MODAL #### */

.modal.fade .modal-dialog {
    transform: translateY(12rem) scale(1.1);
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.modal.fade.show .modal-dialog {
    transform: translateY(0) scale(1);
}

/* #### TRENDING #### */

.sortable-drag {
    opacity: 0;
}

.sortable-ghost {
    opacity: 0.75;
}

.trending-container {
    max-width: 100%;
    min-height: 22rem;
    margin: 2rem auto;
    gap: 1.2rem;
    padding: 1.5rem 0.5rem;
    overflow-x: auto;
}

.trending-container.empty {
    width: 36rem;
    max-width: 90%;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.trending-container.empty > * {
    margin: 0 auto;
}

.trending-item {
    width: 17rem;
    flex-shrink: 0;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.trending-item:hover footer > ion-icon {
    display: none;
}

.trending-item:hover footer > button {
    display: block;
}

.trending-item footer.loading > ion-icon {
  display: none;
}

.trending-item footer.loading > button {
  display: none;
}

.trending-item footer.loading > .loading-spinner {
  display: block;
}

.trending-item > img {
    height: 15rem;
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 30%);
    margin-bottom: 0.5rem;
    object-fit: cover; 
}

.trending-item footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.trending-item footer > p {
    margin: 0;
    max-width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trending-item footer > button {
    color: #aaa;
    display: none;
}

.trending-item footer > button:hover {
    color: var(--text-color);
}

/* MEDIA QUERIES */

/* BELOW 960px - phones & tables */
@media (max-width: 60em) {
	body > aside {
		position: absolute;
		height: 100%;
		width: var(--sidebar-width);
        box-shadow: none;
		transform: translateX(-100%);
        transition: 0.3s ease-in-out;
        max-width: 80%;
	}

	body {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	body > header {
		grid-column: 1;
	}

	.menu-btn { 
		display: block;
	}

	.preview-body {
		max-height: none;
	}

    .trending-container {
        min-height: 20rem;
    }

    .trending-item {
        width: 13rem;
    }

    .trending-item > img {
        height: 12rem;
    }
}

/* Landscape phone */
@media (max-height: 29em) {
	body > aside .storage-info {
		display: none;
	}

    body > aside {
        display: block;
        overflow: auto;
    }
}
